/* Fondo general - Utilities */
.bg-custom {
  background-color: #7edd72;
  color: #eb23a8;
}

/* Logo de la empresa con tamaño fijo - Utilities */
.logo {
  max-width: 120px;
  height: auto;
}

/* Sello PAGADO superpuesto e inclinado - Uso de z-index*/
.stamp {
  position: absolute;
  top: 20px;
  right: 40px;
  color: rgb(228, 7, 7);
  font-size: 3rem;
  transform: rotate(-20deg);
  z-index: 1050;
  opacity: 0.7;
}

/* Encabezado de la tabla de productos - Grid & Utilities */
.productos thead {
  background-color: #f100a1; 
  color: #000000; 
}

/* Filas - Gutters visuales*/
.productos tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
.productos tbody tr:nth-child(even) {
  background-color: #ffe0f0; 
}

/* Alineación centrada - Utilities*/
.table th,
.table td {
  vertical-align: middle;
  text-align: center;
}

/* Datos del cliente- Estilo de tabla cliente - Utilities y colores */
table.cliente th {
  background-color: #000000;
  color: white;
  width: 40%;
}
table.cliente td {
  background-color: #df29c0;
  color: white;
}
